<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<import resource="applicationContext-deviceSetting.xml" />

	<!-- ArrayListに格納 -->
	<bean id="somethings" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<ref bean="something1" />
				<ref bean="something2" />
				<ref bean="something3" />
				<ref bean="something4" />
				<ref bean="something5" />
			</list>
		</constructor-arg>
	</bean>
</beans>